.word {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-out, opacity 0.3s;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); 
}

.word span {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.word.active {
    z-index: 10;
    transform: scale(1.5);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}